{% extends 'vmail/home.html' %}

{% block content %}
    {% load staticfiles %}
<div class="row">
    <div class="col-lg-3">
        <div class="card">
             <a href="{% url 'speech' %}" class="header-font"><img src="{% static 'vmail/image/compose.png' %}" height="200px" width="220px"></a>
            <div class="container">
                <h4 style = "font-family:georgia,garamond,serif;font-size:20px;font-style:italic;"><b>Compose</b></h4>
                <p>Compose messages</p>
            </div>
        </div>
    </div>
       <div class="col-lg-3">
        <div class="card">
            <img src="{% static 'vmail/image/inbox.png' %}" height="200px" width="220px">
            <div class="container">
                <h4 style = "font-family:georgia,garamond,serif;font-size:20px;font-style:italic;"><b>Sent</b></h4>
                <p>Inbox messages</p>
            </div>
        </div>
    </div>
       <div class="col-lg-3">
        <div class="card">
            <img src="{% static 'vmail/image/sent.png' %}" height="200px" width="220px">
            <div class="container">
                <h4 style = "font-family:georgia,garamond,serif;font-size:20px;font-style:italic;"><b>Outbox</b></h4>
                <p>Sent messages</p>
            </div>
        </div>
    </div>
       <div class="col-lg-3">
        <div class="card">
            <img src="{% static 'vmail/image/draft.png' %}" height="200px" width="220px">
            <div class="container">
                <h4 style = "font-family:georgia,garamond,serif;font-size:20px;font-style:italic;"><b>Draft</b></h4>
                <p>Draft messages</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}