{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Draft</title>#}
{#</head>#}
{#{% load staticfiles %}#}
{#<link rel="stylesheet" href="{% static 'vmail/css/materialize.css' %}">#}
{#<link rel="stylesheet" href="{% static 'vmail/css/bootstrap.css' %}">#}
{#<script src="{% static 'vmail/js/voice.js' %}"></script>#}
{#<script src="{% static 'vmail/js/sound-mouseover.js' %}"></script>#}
{##}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>#}
{##}
{##}
{#<body>#}
{##}
{#<nav>#}
{#    <div class="nav-wrapper">#}
{#        <a href="#" class="brand-logo" >Voice Based Mail- Draft</a>#}
{#        <ul id="nav-mobile" class="right hide-on-med-and-down">#}
{#             <a href={% url 'index' %}> <div class="col-md-11" onmouseover="playMusic('home');">#}
{#        Home#}
{#    </div>#}
{#        </a>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}
{##}
{#<audio id='voice-draft'>#}
{#        <source src= {% static 'vmail/audio/draft.mp3' %}></source>#}
{# </audio>#}
{##}
{#<audio id='voice-home'>#}
{#        <source src= {% static 'vmail/audio/home.mp3' %}></source>#}
{# </audio>#}
{##}
{#<table class="table">#}
{#	  <thead>#}
{#		<tr>#}
{#            <th scope="col" >#</th>#}
{#      <th scope="col">From</th>#}
{#      <th scope="col">Subject</th>#}
{#      <th scope="col">Message</th>#}
{#		</tr>#}
{#	  </thead>#}
{#	  <tbody>#}
{#   {% for i in draft %}#}
{#    <tr id="i{{ i.id }}" onclick="myfunc(this.id)">#}
{##}
{#        <td>{{ i.id }} </td>#}
{#      <td>{{ i.to }} </td>#}
{#      <td>{{ i.subject }}</td>#}
{#      <td>{{ i.message }}</td>#}
{#    </tr>#}
{#   {% endfor %}#}
{#	  </tbody>#}
{#	</table>#}
{#<div>#}
{#    <button id=play hidden></button> &nbsp;#}
{#    <button id=pause hidden></button> &nbsp;#}
{#    <button id=stop hidden></button>#}
{#</div>#}
{#<footer class="page-footer">#}
{#    <div class="footer-copyright">#}
{#        <div class="container">#}
{#            © 2019 Copyright GudKush#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
{#<script>#}
{#     function myfunc(here) {#}
{#        console.log("Here");#}
{#        if ('speechSynthesis' in window) with (speechSynthesis) {#}
{##}
{##}
{#            var playEle = document.querySelector('#play');#}
{#            var pauseEle = document.querySelector('#pause');#}
{#            var stopEle = document.querySelector('#stop');#}
{#            var flag = false;#}
{##}
{##}
{#            playEle.addEventListener('click', onClickPlay);#}
{#            pauseEle.addEventListener('click', onClickPause);#}
{#            stopEle.addEventListener('click', onClickStop);#}
{##}
{##}
{#            onClickPlay();#}
{##}
{##}
{#            function onClickPlay() {#}
{#                console.log("Reached");#}
{#                if (!flag) {#}
{#                    flag = true;#}
{#                    utterance = new SpeechSynthesisUtterance(document.querySelector('#' + here).textContent);#}
{#                    utterance.voice = getVoices()[0];#}
{#                    utterance.onend = function () {#}
{#                        flag = false;#}
{#                        playEle.className = pauseEle.className = '';#}
{#                        stopEle.className = 'stopped';#}
{#                    };#}
{#                    playEle.className = 'played';#}
{#                    stopEle.className = '';#}
{#                    speak(utterance);#}
{#                }#}
{#                if (paused) { /* unpause/resume narration */#}
{#                    playEle.className = 'played';#}
{#                    pauseEle.className = '';#}
{#                    resume();#}
{#                }#}
{#            }#}
{##}
{#            function onClickPause() {#}
{#                if (speaking && !paused) { /* pause narration */#}
{#                    pauseEle.className = 'paused';#}
{#                    playEle.className = '';#}
{#                    pause();#}
{#                }#}
{#            }#}
{##}
{#            function onClickStop() {#}
{#                if (speaking) { /* stop narration */#}
{#                    /* for safari */#}
{#                    stopEle.className = 'stopped';#}
{#                    playEle.className = pauseEle.className = '';#}
{#                    flag = false;#}
{#                    cancel();#}
{##}
{#                }#}
{#            }#}
{##}
{#        }#}
{##}
{#        else { /* speech synthesis not supported */#}
{#            msg = document.createElement('h5');#}
{#            msg.textContent = "Detected no support for Speech Synthesis";#}
{#            msg.style.textAlign = 'center';#}
{#            msg.style.backgroundColor = 'red';#}
{#            msg.style.color = 'white';#}
{#            msg.style.marginTop = msg.style.marginBottom = 0;#}
{#            document.body.insertBefore(msg, document.querySelector('div'));#}
{#        }#}
{#    }#}
{#</script>#}
{#</body>#}
{#</html>#}

<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <script src={% static 'vmail/js/sound-mouseover.js' %}></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>Voice Based <Email-Draft></Email-Draft></title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'vmail/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vmail/css/main.css' %}">


    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
    <script src={% static 'vmail/js/bootstrap.js' %}></script>
    <script src="{% static 'vmail/js/voice.js' %}"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 60%;
            margin: auto;
        }
    </style>

</head>
<body class="text-center">

<div class="">
    <header class="masthead mb-auto">
        <div class="inner">


            <h3 class="masthead-brand" onmouseover="playMusic('header');" style="color: white;font-size: 30px">Voice based
                email-Draft</h3>

            <nav class="nav nav-masthead ">
                <a class="nav-link active" href="{% url 'index' %}" onmouseover="playMusic('goback');" style="font-size: 25px">Go Back</a>

            </nav>
        </div>
    </header>
    </nav>
<audio id='voice-header'>
        <source src= {% static 'vmail/audio/header.mp3' %}></source>
 </audio>
<audio id='voice-draft'>
        <source src= {% static 'vmail/audio/draft.mp3' %}></source>
 </audio>
<audio id='voice-previous'>
        <source src= {% static 'vmail/audio/previous.mp3' %}></source>
 </audio>
<audio id='voice-next'>
        <source src= {% static 'vmail/audio/next.mp3' %}></source>
 </audio>
<audio id='voice-read_draft'>
        <source src= {% static 'vmail/audio/read_draft.mp3' %}></source>
 </audio>
<audio id='voice-goback'>
        <source src= {% static 'vmail/audio/goback.mp3' %}></source>
 </audio>
    <br>
    <br>
    <br>
    <br>




    <div class="" style="margin:0;padding:0;width:100%">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" style="width: 100%">


            <div class="carousel-inner" role="listbox">

                <div class="item active" onmouseover="playMusic('draft');">

                    <div style="background-color: black; height: 500px; width:100%;">
                        <div class="row">
                            <div class="col-md-1" style="color: white"></div>
                            <div class="col-md-10" style="color: white; font-size: 100px;padding-top: 200px">DRAFT</div>
                            <div class="col-md-1" style="color: white"></div>
                    </div>

                </div>
                </div>

                {% for i in draft %}
                    <div class="item" id="i{{ i.id }}" onclick="myfunc(this.id)" onmouseover="playMusic('read_draft')">
                        <div style="background-color: black; height: 500px; width:100%;">
                             <div class="row" style="height: 1000px">
                            <div class="col-md-1"></div>
                            <div class="col-md-10" style="background-color: dimgray; font-size: 30px;padding-top: 10px;">
                                <div style="color: white; font-size: 30px;padding-bottom: 50px  ">Recipient: {{ i.to }} </div>
                                <div style="color: white; font-size: 30px;padding-bottom: 50px">Subject: {{ i.subject }}</div>
                                <div style="color: white; font-size: 30px;">Message: {{ i.message }}</div>
                            </div>
                            <div class="col-md-1" style="color: white;font-size: 30px;padding-top: 250px;"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" onmouseover="playMusic('previous');">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="left: 8px"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" onmouseover="playMusic('next');">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="right:8px"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <button id=play hidden></button> &nbsp;
    <button id=pause hidden></button> &nbsp;
    <button id=stop hidden></button>
</div>
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p> Voice based email by <a href="#">@Kusal Bista</a>.</p>
    </div>
</footer>

</div>
</div>

<script>
    function myfunc(here) {
        console.log("Here");
        if ('speechSynthesis' in window) with (speechSynthesis) {


            var playEle = document.querySelector('#play');
            var pauseEle = document.querySelector('#pause');
            var stopEle = document.querySelector('#stop');
            var flag = false;


            playEle.addEventListener('click', onClickPlay);
            pauseEle.addEventListener('click', onClickPause);
            stopEle.addEventListener('click', onClickStop);


            onClickPlay();


            function onClickPlay() {
                console.log("Reached");
                if (!flag) {
                    flag = true;
                    utterance = new SpeechSynthesisUtterance(document.querySelector('#' + here).textContent);
                    utterance.voice = getVoices()[0];
                    utterance.onend = function () {
                        flag = false;
                        playEle.className = pauseEle.className = '';
                        stopEle.className = 'stopped';
                    };
                    playEle.className = 'played';
                    stopEle.className = '';
                    speak(utterance);

                }
                if (paused) { /* unpause/resume narration */
                    playEle.className = 'played';
                    pauseEle.className = '';
                    resume();
                }
            }

            function onClickPause() {
                if (speaking && !paused) { /* pause narration */
                    pauseEle.className = 'paused';
                    playEle.className = '';
                    pause();
                }
            }

            function onClickStop() {
                if (speaking) { /* stop narration */
                    /* for safari */
                    stopEle.className = 'stopped';
                    playEle.className = pauseEle.className = '';
                    flag = false;
                    cancel();

                }
            }

        }

        else { /* speech synthesis not supported */
            msg = document.createElement('h5');
            msg.textContent = "Detected no support for Speech Synthesis";
            msg.style.textAlign = 'center';
            msg.style.backgroundColor = 'red';
            msg.style.color = 'white';
            msg.style.marginTop = msg.style.marginBottom = 0;
            document.body.insertBefore(msg, document.querySelector('div'));
        }

    }
</script>
</body>
</html>


